.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: fit-content;
  font-variant-caps: all-small-caps;
  display: flex;
  padding: 0;
  z-index: 1;
  margin-top: auto;
}

.active {
  background-color: rgba(255, 255, 255, 1);
}

.navbar .pages {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0.5em;
}

.navbar li {
  font-size: 1.5em;
  display: inline-flex;
  margin-right: 1em;
}

.navbar li a {
  color: hsla(0, 2%, 21%, 1);
}

.navbar h1 a {
  color: hsla(179, 85%, 21%, 1);
}

.navbar li :hover {
  text-decoration: underline;
}

.header-title {
  font-size: 4em;
  color: rgb(8, 98, 97);
  margin: 0;
}