#footer {
  background-color: hsla(180, 75%, 22%, 1);
  min-height: 10vh;
  height: fit-content;
  font-variant-caps: all-small-caps;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: -100px;
}

.footer-title {
  color: whitesmoke;
  margin: 0 10px 0 auto;
  bottom: 0;
  font-size: 2em;
  height: fit-content;
}

#footer ul {
  font-size: 1em;
}

#footer ul li a {
  color:rgb(255, 255, 255);
}

#footer li :hover {
  text-decoration: underline;
}

#footer #social-links {
  margin: auto;
}

#footer .social-icon {
  height: 35px;
  width: 35px;
  margin: 5px;
  color: whitesmoke;
}

#footer .social-icon:visited {
  color: initial;
}
