#home-page {
  font-size: 1.5em;
}

#home-page a {
  color: hsla(0, 2%, 21%, 1);
  text-decoration: underline;
}


/* Part one => Welcome */

#home-page a:hover {
  font-weight: bold;
}

/* #home-wrapper {
  display: flex;
  flex-direction: row-reverse;
} */

/* #vertical-navbar {
  width: 30%;
  height: 50vh;
  border: 1px solid grey;
  top: 100px;
  right: 40px;
  position: fixed;
  z-index: 9;
} */

#home-part-one {
  /* min-height: 500px; */
  min-height: 100vh;
  height: fit-content;
  background-color: hsla(187, 48%, 79%, 1);
  /* background-color: rgb(225,197,172); */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.welcome-msg {
  flex-grow: 1;
}

.introduction {
  width: 75%;
  margin-left: 100px;
}

#home-part-one .button-link {
  color: white;

}

.chevron-down {
  font-size: 100px;
  transition: 0.5s;
}

.chevron-down:hover {

  transform: translate(0, 10px);
  cursor: pointer;
}


/* Part two => Green ingredient checker */

#home-part-two {
  min-height: fit-content;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, hsla(187, 48%, 79%, 1) 0%, whitesmoke 25%);
  /* background: linear-gradient(180deg, rgb(225,197,172) 0%, whitesmoke 25%); */
  /* overflow-y: scroll; */
}

#home-part-two .text-ov-img-cont {
  margin-left: 4em;
}

.rounded-image {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin: auto;
}

#green-description {
  margin: 5em;
  text-align: center;
}

#home-part-two a {
  margin: auto;
}

#home-part-timeline {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  /* overflow-y: scroll; */
  /* min-width: 1400px; */
}



/* Hire me part */

#home-part-hireme .portrait {
  max-height: 400px;
  min-height: 200px;
  height: 30em;
}

#home-part-hireme .about {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 400px;
  min-height: 200px;
  height: 30em;

}

#home-part-hireme .about .contact-buttons {
  margin: auto auto 0;
}

.border-buttons {
  font-size: large;
  margin: 25px;
  padding: 10px;
  border: solid 1px hsla(180, 75%, 22%, 1);
}

.border-buttons:hover {
  color: white;
  background-color: hsla(180, 75%, 22%, 1);
}

/* .hireme-button {
}

.resume-button {
} */