#home-page {
  font-size: 1.5em;
}

/* Part one => Welcome */

#home-part-one {
  min-height: 100vh;
  height: fit-content;
  background-color: hsla(187, 48%, 79%, 1);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.welcome-msg {
  flex-grow: 1;
}

.welcome-msg h2 {
  line-height: 0.2em;
}

.welcome-msg .hi {
  -webkit-animation: text-right-to-left 1;
  animation: text-right-to-left 1;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  animation-direction: normal;
  -webkit-animation-direction: normal;
}

.welcome-msg .my-name-is {
  -webkit-animation: text-right-to-left-delayed 1;
  animation: text-right-to-left-delayed 1;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  animation-direction: normal;
  -webkit-animation-direction: normal;
}

@-webkit-keyframes text-right-to-left {
  0% {
    opacity: 0%;
    margin-left: 50%;
  }
  100% {
      opacity: 100%;
  }
}

@keyframes text-right-to-left {
  0% {
    opacity: 0%;
    margin-left: 50%;
  }
  100% {
      opacity: 100%;
  }
}

@-webkit-keyframes text-right-to-left-delayed {
  0% {
    opacity: 0%;
    margin-left: 50%;
  }
  25% {
    opacity: 0%;
    margin-left: 50%;
  }
  100% {
      opacity: 100%;
  }
}

@keyframes text-right-to-left-delayed {
  0% {
    opacity: 0%;
    margin-left: 50%;
  }
  25% {
    opacity: 0%;
    margin-left: 50%;
  }
  100% {
      opacity: 100%;
  }
}

.introduction {
  width: 75%;
  margin-left: 100px;
}

#home-part-one .button-link {
  color: white;

}

.chevron-down {
  font-size: 100px;
  transition: 0.5s;
}

.chevron-down:hover {

  transform: translate(0, 10px);
  cursor: pointer;
}


/* Part two => Green ingredient checker */

#home-part-projects {
  min-height: 90vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, hsla(187, 48%, 79%, 1) 0%, whitesmoke 25%);
}

#home-part-projects .text-ov-img-cont {
  margin-left: 4em;
}

#home-part-projects a {
  margin: auto;
}

#home-part-timeline {
  min-height: 90vh;
}



/* Hire me part */

#home-part-hireme .portrait {
  max-height: 400px;
  min-height: 200px;
  height: 30em;
}

#home-part-hireme .about {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 400px;
  min-height: 200px;
  height: 30em;

}

#home-part-hireme .about .contact-buttons {
  margin: auto auto 0;
  display: flex;
}

.border-buttons {
  font-size: large;
  margin: 25px;
  padding: 10px;
  border: solid 1px hsla(180, 75%, 22%, 1);
}

.border-buttons:hover {
  color: white;
  text-decoration: none;
  background-color: hsla(180, 75%, 22%, 1);
}

.border-buttons:visited {
  color: initial;
}

.border-buttons:visited:hover {
  color: white;
}

.hireme-button {
  color: black;
}

.resume-button {
  color: black;
}