#projects {
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
}

.ProjectGallery {
  width: 100%;
  /* height: 50vh; */
}

/* .link-box {
  background-color: red;
  margin: auto;
  display: flex;
  flex-direction: row;
} */

.mockup {
  height: 45vh;
  min-height: 300px;
  display: block;
  margin: auto;
}

#project-description {
  font-size: medium;
  /* display: flex; */
  /* flex-direction: column; */
}

.project-details {
  display: flex;
  flex-direction: column;
}

.project-details p {
  line-height: 0;
}

.project-left-part {
  width: 35%;
  padding: 1em;
  text-align: justify;
}

.project-right-part {
  /* margin: auto; */
  width: 60%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
}

#projects .chevron {
  font-size: 2em;
}

/* #projects .chevron:hover {
  font-size: 2.3em;
} */

.project-left-part .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-link {
  margin: auto;
  display: flex;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  height: 5em;
  min-height: fit-content;
  /* user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */
}

.project-link:after {
  content: "";
  border: 1px solid hsla(180, 75%, 22%, 1);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.project-link:hover:after {
  top: 0px;
  left: 0px;
  background-color: rgba(175,221,227, 0.5);
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.project-link:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.project-link:active:after {
  background-color: rgba(175,221,227, 0.7);
  box-shadow: none;
}

.project-link p {
  padding-left: 15px;
  size: 1.5em;
  z-index: 1;
}

.project-left-part .github-icon {
  color: hsl(0, 2%, 21%);
  font-size: 3em;
  z-index: 1;
}

.project-right-part .technos {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.project-right-part p {
  /* align-self: flex-end; */
  color: white;
  border-radius: 30px;
  height: fit-content;
  width: fit-content;
  padding: 3px 10px 3px;
  /* animation-name: appear;
  animation-duration: 2s; */
  /* opacity: 0%; */
}


#projects-scroll-through {
  height: 100vh;
  /* flex-direction: row-reverse; */
  margin: 50px;
}